<!-- About Section -->
    <section id="expedu">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience &amp; Education </h2>
                    <h3 class="section-subheading text-muted">Timeline</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/physics.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2011</h4>
                                    <h4 class="subheading">B.Sc. Physics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A curiosity about the universe had me study physics at the University of Copenhagen. After finishing the mandatory electromagnetism-, relativity- and quantum mechanics courses I found an interest in mathematical modeling, programming, and medical image analysis. An abstract of my bachelor’s thesis on knee cartilage segmentation was presented at EULAR 2011, London, and I gave an oral presentation at IEEE ELMAR 2011, Zadar, Croatia, which won the “Best Student Paper” award.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/medicinandtechnology.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">M.Sc. Eng., Medicin &amp; Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">For my Master's, I specialized in machine learning and medical image processing. Being part medicine and part computer science, this degree provides a fantastic multi-disciplinary foundation for working in this field. I wrote my Master's thesis on automatic construction of Active Appearance Models and was supervised by Tim Cootes.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/imageanalysis.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014-2015</h4>
                                    <h4 class="subheading">Scientific Project Officer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After finishing my studies I moved to London to work for Image Analysis Ltd as Scientific Project Officer. This arrangement had been made long before I even started my Master's between myself and Olga Kubassova, CEO and founder. My responsibilities included developing the core image processing algorithms for Image Analysis' cloud-based MRI scoring platform, supporting clinical clients and keeping our servers up and running. I had a great time. Image Analysis is changing the future of DCE-MRI's role in cancer and inflammatory diseases diagnosis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/medicinandtechnology.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-present</h4>
                                    <h4 class="subheading">Ph.D. in Medical Image Registration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In early 2015 I humbly left my job at Image Analysis to pursue a Ph.D. in medical image registration at Biomedical Imaging Group Rotterdam, Netherlands. I had to do it. I have ideas for a model-based registration framework that <i>needs</i> to get out of my head. I am supervised by the authors of elastix, an open source medical image registration package used extensively throughout my studies. Meeting these guys for the first time was like meeting the rockstars if my favorite band! I am such a nerd.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
